#mensHeader {
    font-size: 60px;
}

.mensSubHeaders {
    text-align: center;
    text-decoration: underline;
}

#mensMenu {
    word-spacing: 40px;
    font-weight: 100;
    font-size: 32px;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#mensMenu > li:hover {
    background-color: white;
}

#mensMenu > li {
    display: inline;
    border: solid 2px;
    margin: 2px;
    padding: 3px;
}

li > a {
    text-decoration: none;
    color: black;
}

li > a:hover {
    color: black;
}

#mensTopContainer{
    background-color: lightblue;
    position: relative;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#mensTopContainer > div {
    text-align: center;
    padding: 5px;
}

#mensBottomContainer{
    background-color: lightblue;
    position: relative;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#mensBottomContainer > div {
    text-align: center;
    padding: 5px;
}

#mensShoesContainer{
    background-color: lightblue;
    position: relative;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#mensShoesContainer > div {
    text-align: center;
    padding: 5px;
}