h1{
    /*font-family: Berlin;*/
    font-size: 60px;
  }
  #womensMenu {
    list-style-type: none;
    word-spacing: 40px;
    font-weight: 100;
    font-size: 32px;
    position:fixed;
    left: 500px;
    width: fit-content;
    height: fit-content;
    top: -20px;
  }
  .womensTypes:hover {
    text-decoration: underline;
  }
  
  .womensTypes {
    display: inline;
   
  }
  table {
    margin-bottom: 100px;
    margin-top: 100px;
    
  }
  table td{
      padding-bottom:70px;
      padding-left: 10px;
      text-size-adjust: 40%;
  }
div{
    flex:1;
}
.sectionLabel{
    text-align: center;
    /*font-family: Berlin;*/
}